*{
    margin:0;
    padding:0;
}
body{
    background-color: bisque;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:inherit;
}

.playbackController{
    display:flex;
}

.videoContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.video{
    width:100%;
    height:100%;
    max-width:1000px;
}

.videoController{
    display:flex;
    align-items: center;
    justify-content: space-between;
}